version: '3.8'

services:
  db:
    image: mysql:8
    container_name: PricalicaDatabase
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: andrej
      MYSQL_PASSWORD: 11
      MYSQL_DATABASE: Pricalica
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
